alabaster==0.7.11
appdirs==1.4.3
argh==0.26.2
attrs==18.1.0
autograd==1.2
Babel==2.6.0
black==18.6b4
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
cycler==0.10.0
decorator==4.1.2
docutils==0.14
entrypoints==0.2.3
future==0.16.0
html5lib==0.9999999
idna==2.7
imagesize==1.0.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.3.0
livereload==2.5.2
MarkupSafe==1.0
matplotlib==2.0.2
meshio==2.0.0
mistune==0.7.4
mpmath==0.19
nbconvert==5.2.1
nbformat==4.4.0
notebook==5.0.0
numpy==1.13.3
packaging==17.1
pandocfilters==1.4.2
pathtools==0.1.2
pexpect==4.2.1
pickleshare==0.7.4
pipdate==0.2.4
port-for==0.3.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pygmsh==4.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.13
pyzmq==16.0.2
qtconsole==4.3.1
requests==2.19.0
scipy==1.1.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-websupport==1.1.0
sympy==1.1.1
terminado==0.6
testpath==0.3
toml==0.9.4
tornado==4.5.2
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.23
watchdog==0.8.3
wcwidth==0.1.7
widgetsnbextension==3.0.2
