name: tests
on:
  pull_request:
  push:
    branches: master

jobs:
  run_tests_38_nix:
    name: Python 3.8
    uses: ./.github/workflows/nix.yml
    with:
      cache_key: "py38a"
      flake_artifact: "#devShells.x86_64-linux.py38"
      run_command: "flake8 skfem && sphinx-build -W -a -b html docs docs/_build && sphinx-build -a -b doctest docs docs/_build && mypy skfem && pytest"
  run_tests_39_nix:
    name: Python 3.9
    uses: ./.github/workflows/nix.yml
    with:
      cache_key: "py39"
      flake_artifact: "#devShells.x86_64-linux.py39"
      run_command: "flake8 skfem && sphinx-build -W -a -b html docs docs/_build && sphinx-build -a -b doctest docs docs/_build && mypy skfem && pytest"
  run_tests_310_nix:
    name: Python 3.10
    uses: ./.github/workflows/nix.yml
    with:
      cache_key: "py310"
      flake_artifact: "#devShells.x86_64-linux.default"
      run_command: "flake8 skfem && sphinx-build -W -a -b html docs docs/_build && sphinx-build -a -b doctest docs docs/_build && mypy skfem && pytest"
  run_tests_311_nix:
    name: Python 3.11 (no matplotlib)
    uses: ./.github/workflows/nix.yml
    with:
      cache_key: "py311"
      flake_artifact: "#devShells.x86_64-linux.py311"
      run_command: "flake8 skfem && sphinx-build -W -a -b html docs docs/_build && sphinx-build -a -b doctest docs docs/_build && mypy skfem && pytest"
